.orange-button {
  all: unset;
  cursor: pointer;
  padding: 16px;
  background: var(--orange);
  border-radius: 100px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  width: fit-content;
  text-align: center;
}
