.library-container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  padding: 40px;
  padding-top: 0px;
  gap: 50px;
}

.books-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.new-book {
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.new-book p {
  font-weight: 500;
  font-size: 20px;
}

.book-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book-title {
  max-width: 200px;
  min-height: 38px;
  font-weight: 500;
  font-size: 16px;
}

.book-author {
  font-size: 14px;
}

.book-price {
  color: var(--orange);
  font-weight: 500;
  font-size: 20px;
}

.pagination-container {
  display: flex;
  align-self: center;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.dim {
  opacity: 0.5;
}

.pagination-container p {
  height: 25px;
  width: 25px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted {
  background: var(--orange);
  border-radius: 100px;
}
