.book-details-container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  padding: 40px;
  padding-top: 0px;
  gap: 50px;
}

.book-details-navigation {
  display: flex;
  font-family: var(--rokkitt);
  font-weight: 500;
  font-size: 20px;
}

.back-to-library {
  color: var(--orange);
  cursor: pointer;
}

.book-section-container {
  display: flex;
  gap: 50px;
}

.book-interaction-container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.book-interaction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.book-interaction img {
  cursor: pointer;
}

.like-dislike-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.book-description-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.book-description-container p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.book-main-title {
  max-width: 650px;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.author-title-container {
  display: flex;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

.price {
  font-family: "Rubik", sans-serif;
  color: var(--orange);
  font-size: 28px;
  font-weight: 500;
}
