.book-added-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: var(--black);
  padding: 50px;
  border-radius: 20px;
  min-width: 600px;
}

.book-added-container h1 {
  font-weight: 500;
  font-size: 28px;
}

.book-added-container p {
  font-size: 20px;
}

.back-button {
  display: flex;
  align-self: center;
  justify-content: center;
  min-width: 128px;
}
