.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  font-family: var(--rubik);
}

.about {
  width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  padding-top: 0px;
}

.about h1 {
  font-family: var(--rokkitt);
  font-weight: 500;
  font-size: 60px;
}

.about-section-container {
  display: flex;
  justify-content: space-between;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 648px;
  font-size: 16px;
}
