* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  /* COLORS */
  --rubik: "Rubik", sans-serif;
  --rokkitt: "Rokkitt", serif;
  --orange: #ff4e16;
  --grey: #e3e3e3;
  --white: #ffffff;
  --black: #252525;
}

body {
  background: var(--black);
  overflow: scroll;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
